.product {
  height: 400px;
  &__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    @include flex(center, column);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    &-name {
      position: absolute;
      backdrop-filter: blur(20px);
      bottom: 25px;
      border-radius: 10px;
      background: rgba(20, 20, 20, 0.3);
      width: 100% - 10%;
      color: picker(primary, flux-white);
      margin: 0 auto;
      padding: 15px 20px;
    }
    &-tags {
      @include flex(flex-start, row);
      color: picker(primary, flux-white);
      font-weight: fontWeight(bold);
      position: absolute;
      top: 20px;
      left: 10px;
      &__feat {
        @include flex(center, row);
        padding: 5px 10px;
        background-color: picker(primary, flux-blue);
        border-radius: 50px;
      }
      &__rewards {
        @include flex(center, row);
        padding: 5px 10px;
        background-color: #ffd15a;
        border-radius: 50px;
        color: picker(primary, flux-bg-black);
        margin-left: 10px;
      }
    }
  }
}
