.account {
  color: picker(primary, flux-white);
  // width: 70%;
  &__history {
    margin-top: 30px;
    &-transaction {
      @include flex(space-between, row);
      background-color: #141414;
      margin: 20px 0px;
      padding: 15px;
      border-radius: 10px;
      .ls {
        @include flex(flex-start, row);
      }
    }
  }
  &__cards {
    // @include flex(space-between, row);
    margin-top: 30px;
    &-card {
      color: picker(priamry, flux-white);
      background-color: #141414;
      // width: 267px;
      padding: 15px;
      border-radius: 10px;
      &__balance {
        font-size: 14px;
        margin-top: 46px;
        .caption {
          font-size: 12px;
          color: #676767;
        }
      }
      &__heading {
        @include flex(space-between, row);
        .title {
          @include flex(flex-start, row);
        }
        .primary {
          text-transform: uppercase;
          background: picker(primary, flux-blue-red);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 0.26em;
        }
      }
    }
  }
  &__heading {
    color: picker(primary, flux-white);
    @include flex(space-between, row);
    button {
      @include btn(true);
    }
  }
}
.wallte{
  width: 100%;
}