.register {
  width: 100%;
  .forgot-password {
    color: picker(primary, flux-white);
    text-align: center;
    margin-top: 60px;
  }
  &__copy {
    margin-bottom: 30px;
    margin-top: 50px;
    h4 {
      color: picker(primary, flux-white);
      font-size: 20px;
      margin-bottom: 10px;
    }
    p {
      color: picker(secondary, dark);
      font-size: 14px;
    }
  }
  label {
    color: picker(primary, flux-white);
    font-size: 14px;
    a {
      font-weight: fontWeight(bold);
      text-decoration: none;
      color: picker(primary, flux-blue);
    }
  }
  button {
    @include btn(true);
    width: 100%;
  }
}
@include breakpoint(lg) {
  .register {
    .referral {
      .input-con {
        width: 232px;
      }
    }
  }
}
