// Global Style
body {
  @include font(fontFamily(DM-Sans), fontWeight(regular));
  margin: 0 auto;
  background-color: picker(primary, flux-bg-black);
}

.input-con{
  width: 90% !important;
}
.text-danger{
  color: red;
}