@font-face {
  font-family: 'body';
  src: url("../fonts/body.ttf");
}

@font-face {
  font-family: 'heading';
  src: url("../fonts/heading.ttf");
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "body", sans-serif;
  font-size: 15px;
  line-height: 1.75;
  color: #777777;
  background-color: #040407;
}

p {
  margin: 0;
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #D0DCE4;
  -webkit-transition: color 0.32s ease;
  transition: color 0.32s ease;
  line-height: 1.2rem;
}

a:active, a:focus, a:hover {
  text-decoration: none;
}

.sub-container a.no-decor {
  text-decoration: none;
}

audio, canvas, img, video {
  display: block;
  max-width: unset;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

svg {
  pointer-events: none;
  vertical-align: middle;
}

ul.none, ol.none {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

figure {
  margin: 0 !important;
}

button {
  border: none;
  background: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  position: relative;
  padding: 1.55rem 1.05rem;
}

@media only screen and (min-width: 576px) {
  .wrapper.will-grow {
    padding-top: 2.55rem;
    padding-bottom: 2.55rem;
  }
}

@media only screen and (min-width: 992px) {
  .wrapper.will-grow {
    padding-top: 3.55rem;
    padding-bottom: 3.55rem;
  }
}

.wrapper.will-grow.negate-top {
  padding-top: 0;
}

.wrapper.will-grow.negate-bottom {
  padding-bottom: 0;
}

.wrapper-y {
  padding-top: 1.55rem;
  padding-bottom: 1.55rem;
}

.wrapper-y.will-grow {
  padding-top: 2.55rem;
  padding-bottom: 2.55rem;
}

@media only screen and (min-width: 992px) {
  .wrapper-y.will-grow {
    padding-top: 3.55rem;
    padding-bottom: 3.55rem;
  }
}

.wrapper-y.will-grow-more {
  padding-top: 64px;
  padding-bottom: 64px;
}

@media only screen and (min-width: 992px) {
  .wrapper-y.will-grow-more {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.wrapper-x {
  padding-right: 1.05rem;
  padding-left: 1.05rem;
}

.clearfix::before, .clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float: none;
}

.col.col-12 {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col {
    float: left;
  }
  .col.col-4-md {
    width: calc(30% - 1.55rem);
    margin-right: 1.55rem;
    padding-right: 0;
  }
  .col.col-8-md {
    width: 70%;
    padding-left: 0;
  }
}

.sticky-mediumup {
  border-bottom: 1px solid #ddd;
}

@media only screen and (min-width: 768px) {
  .sticky-mediumup {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  .left-50 {
    width: 50%;
    float: left;
    padding-right: 3.55rem;
  }
}

@media only screen and (min-width: 768px) {
  .right-50 {
    width: 50%;
    float: right;
  }
}

@media only screen and (min-width: 576px) {
  .left-40 {
    width: 40%;
    float: left;
    padding-right: 3.55rem;
  }
}

@media only screen and (min-width: 768px) {
  .left-70 {
    width: 64%;
    float: left;
    padding-right: 3.55rem;
  }
}

@media only screen and (min-width: 768px) {
  .right-30 {
    width: 36%;
    float: right;
  }
}

.left-70-persisted {
  width: 64%;
  float: left;
}

.right-30-persisted {
  width: 36%;
  float: right;
}

.left-50-persisted {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .left-50-persisted {
    width: 100%;
    float: left;
  }
}

.width-100-pc {
  width: 100%;
}

.maxwidth-xl {
  max-width: 1192px;
}

.maxwidth-lt {
  max-width: 992px;
}

.maxwidth-tb {
  max-width: 768px;
}

.maxwidth-sm {
  max-width: 576px;
}

.maxwidth-xs {
  max-width: 360px;
}

.maxwidth-sl {
  max-width: 1024px;
}

.main-wrap {
  max-width: 1200px;
}

@media screen and (min-width: 1500px) {
  .main-wrap {
    max-width: 1400px;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.55rem;
}

.grid.is-multi-col.mostly-2 {
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

@media only screen and (min-width: 992px) {
  .grid.is-multi-col.mostly-2 {
    -ms-grid-columns: (minmax(460px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(460px, 1fr));
  }
}

.grid.is-multi-col.mostly-s2 {
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

@media only screen and (min-width: 992px) {
  .grid.is-multi-col.mostly-s2 {
    -ms-grid-columns: (minmax(260px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.grid.is-multi-col.mostly-3 {
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

@media only screen and (min-width: 992px) {
  .grid.is-multi-col.mostly-3 {
    -ms-grid-columns: (minmax(340px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  }
}

.grid.is-multi-col.mostly-4 {
  -ms-grid-columns: (minmax(254px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
}

@media only screen and (min-width: 1500px) {
  .grid.is-multi-col.mostly-4 {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.w-100 {
  width: 100%;
}

.height-100-pc {
  height: 100%;
}

.h-100 {
  height: 100%;
}

.min-height-100-vh {
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .min-height-100-vh {
    min-height: 100vh;
  }
}

.height-100-vh {
  height: 85vh;
}

@media only screen and (min-width: 768px) {
  .height-100-vh {
    height: 100vh;
  }
}

.desired-height {
  height: 552px;
}

@media only screen and (min-width: 576px) {
  .desired-height {
    height: 592px;
  }
}

.desired-height-3qtr {
  height: 265px;
}

@media only screen and (min-width: 576px) {
  .desired-height-3qtr {
    height: 392px;
  }
}

.desired-height-1qtr {
  height: 164px;
}

@media only screen and (min-width: 576px) {
  .desired-height-1qtr {
    height: 232px;
  }
}

.logo {
  width: 100px;
}

.logo img {
  width: 100%;
}

.pattern {
  z-index: 0;
  width: 100%;
}

.pattern svg {
  width: 100%;
}

.bar1, .bar2, .bar3 {
  background-color: #5A78FF;
  width: 30px;
  height: 2px;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
}

.sub-links {
  position: absolute;
  display: none;
  -webkit-box-shadow: 0px 5px 10px rgba(167, 167, 167, 0.16);
          box-shadow: 0px 5px 10px rgba(167, 167, 167, 0.16);
  top: 40px;
  width: 200px;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  list-style: none;
  background: white;
}

.sub-links.show {
  display: block;
}

.sub-links li {
  margin: 0.2rem 0rem;
  padding: 0.2rem 0rem;
}

.nav-menu {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: none;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
          transform: rotate(-45deg) translate(-6px, 4px);
  background-color: #5A78FF;
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
          transform: rotate(45deg) translate(-6px, -7px);
  background-color: #5A78FF;
}

header {
  position: absolute;
  background: #040407;
  border: 1px solid;
  z-index: 3;
  -o-border-image: linear-gradient(270deg, rgba(39, 39, 39, 0.3) 6.88%, #272727 47.67%, rgba(39, 39, 39, 0.3) 92.95%) 1;
     border-image: -webkit-gradient(linear, right top, left top, color-stop(6.88%, rgba(39, 39, 39, 0.3)), color-stop(47.67%, #272727), color-stop(92.95%, rgba(39, 39, 39, 0.3))) 1;
     border-image: linear-gradient(270deg, rgba(39, 39, 39, 0.3) 6.88%, #272727 47.67%, rgba(39, 39, 39, 0.3) 92.95%) 1;
}

@media screen and (max-width: 650px) {
  .nav-menu {
    display: block;
  }
  .toggle-area ul {
    display: none;
  }
  .toggle-area.open ul {
    display: block;
  }
  .open .main-nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 1rem;
    padding-top: 80px;
    background: white;
    width: 100%;
    height: 100%;
  }
  .open .main-nav li {
    margin: 0;
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  }
  .open .main-nav a {
    padding: 1rem;
    display: block;
  }
  .open.show {
    display: block;
  }
  .open li {
    margin: 0.2rem 0rem;
    padding: 0.2rem 0rem;
  }
}

.site-footer {
  margin-top: 3rem;
}

.site-footer .grid {
  grid-gap: 1.55rem;
}

.site-footer .grid.mixed > *:nth-child(odd) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.site-footer .grid.mixed > *:nth-child(even) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
}

@media only screen and (min-width: 576px) {
  .site-footer .grid.mixed > *:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .site-footer .grid.mixed > *:nth-child(4) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 8;
    grid-column: 5 / 13;
  }
}

@media only screen and (min-width: 768px) {
  .site-footer .grid.mixed > *:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1 / 5;
  }
  .site-footer .grid.mixed > *:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5 / 9;
  }
  .site-footer .grid.mixed > *:nth-child(3) {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9 / 13;
  }
  .site-footer .grid.mixed > *:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1 / 13;
  }
}

@media only screen and (min-width: 1024px) {
  .site-footer .grid.mixed > *:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .site-footer .grid.mixed > *:nth-child(2) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
  }
  .site-footer .grid.mixed > *:nth-child(3) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7 / 10;
  }
  .site-footer .grid.mixed > *:nth-child(4) {
    -ms-grid-column: 10;
    -ms-grid-column-span: 3;
    grid-column: 10 / 13;
  }
}

.site-footer h3 {
  color: #fff;
  font-family: "body", sans-serif;
  margin: 0 0 1.5rem 0;
}

.site-footer a {
  color: #dadada;
  font-size: 0.915rem;
  opacity: 0.7;
  letter-spacing: 0.3px;
}

.site-footer a:active, .site-footer a:focus, .site-footer a:hover, .site-footer a.is-active {
  opacity: 1;
}

.site-footer li a {
  display: inline-block;
  padding: 0.55rem 0;
}

.site-footer .bottom-logo {
  width: 120px;
}

.bod-top {
  border-top: 0.5px solid rgba(0, 0, 0, 0.76);
}

.co-white {
  color: #ffffff;
}

.co-primary {
  color: #5A78FF;
}

.top-0 {
  top: 0;
}

.accordion {
  color: #ffffff;
  cursor: pointer;
  padding: 32px 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #202020;
}

.active {
  background-color: #303030;
}

.accordion:hover {
  background-color: #303030;
}

.accordion:after {
  content: '\002B';
  color: #ffffff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  color: #787878;
}

.main-hero-image {
  max-width: 800px;
  padding-top: 50px;
  position: relative;
}

@media screen and (min-width: 1000px) {
  .main-hero-image {
    max-width: 700px;
    position: absolute;
    right: -70%;
    top: -100px;
  }
}

@media screen and (min-width: 1500px) {
  .main-hero-image {
    position: absolute;
    right: -100%;
    top: -60px;
  }
}

.dark-overlay {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 0;
}

.product-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 10px;
}

.hide-flow-x {
  overflow: hidden;
}

.form-area {
  width: 100%;
}

.input-group {
  padding: 0.5rem 0rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form .msg-alert {
  width: 100%;
  height: 52px;
}

form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 16px;
  font-size: 1rem;
  background: #272727;
  border: 1px solid #272727;
  border-radius: 3px;
  margin: 0.5rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  width: 100%;
  color: #ffffff;
}

form button {
  padding: 18px 32px;
  font-size: 1rem;
  font-family: "body", sans-serif;
  background: #5A78FF;
  border: 1px solid #272727;
  -webkit-box-shadow: 0px 8px 8px rgba(206, 47, 94, 0.24);
          box-shadow: 0px 8px 8px rgba(206, 47, 94, 0.24);
  border-radius: 3px;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0.5rem 0;
  margin-left: 0.5rem;
}

form button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(206, 47, 94, 0.44);
          box-shadow: 0px 4px 4px rgba(206, 47, 94, 0.44);
}

.label {
  color: #ffffff;
}

.btn {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #5A78FF;
  border: 1px solid #5A78FF;
  color: white;
  border-radius: 50px;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #4D4D4D;
  color: white;
  border-radius: 50px;
}

.btn-blur {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .form-area {
    width: 100%;
  }
  form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form button {
    margin-left: 0rem;
  }
  form input {
    width: 100%;
  }
}

.tx-c {
  text-align: center;
}

.uline {
  text-decoration: underline;
}

.ff-sans-serif {
  font-family: "heading", sans-serif;
}

.ff-b {
  font-family: 'body';
}

.headinglh {
  line-height: 1.45;
}

.smalllh {
  line-height: 1.2rem;
}

.ls-h {
  letter-spacing: 0.5px;
}

.fw-bold {
  font-weight: bold;
}

.picotext {
  font-size: 0.715rem;
}

.nanotext {
  font-size: 0.815rem;
}

.microtext {
  font-size: 0.915rem;
}

.smalltext, .lead {
  font-size: 1.115rem;
}

.mediumtext {
  font-size: 1.275rem;
}

.largetext {
  font-size: 1.375rem;
}

@media only screen and (min-width: 576px) {
  .lead {
    font-size: 1.275rem;
  }
}

h1, h2, h3, h4 {
  font-family: "heading", sans-serif;
  margin-top: 1.55rem;
  margin-bottom: 0.55rem;
  line-height: 1.45;
  color: #fff;
}

h1, .h1 {
  font-size: 2.2rem;
}

@media only screen and (min-width: 576px) {
  h1, .h1 {
    font-size: 3.92rem;
  }
}

h2, .h2 {
  font-size: 1.76rem;
}

@media only screen and (min-width: 576px) {
  h2, .h2 {
    font-size: 1.92rem;
  }
}

h3, .h3 {
  font-size: 1.52rem;
}

h4, .h4 {
  font-size: 1.44rem;
}

.prefix {
  margin-right: 6px;
}

.prefix.is-wider {
  margin-right: 15px;
}

.prefix.is-even-wider {
  margin-right: 24px;
}

.suffix {
  margin-left: 6px;
}

.suffix.is-wider {
  margin-left: 15px;
}

.suffix.is-even-wider {
  margin-left: 24px;
}

.icon {
  width: 120px;
  height: 120px;
  display: block;
}

.icon img {
  width: 100%;
}

.h1-404 {
  font-size: 140px;
  line-height: 100%;
}

@media only screen and (min-width: 768px) {
  .h1-404 {
    font-size: 272px;
  }
}

.absolute-zero {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pos-r {
  position: relative;
}

.pos-stk {
  position: sticky;
  position: -webkit-sticky;
}

.pos-stk.t-0 {
  top: 0;
}

.pos-a {
  position: absolute;
}

.pos-a.fixed-to-top {
  top: 0;
}

.pos-f {
  position: fixed;
}

.pos-f.fixed-to-top {
  top: 0;
  left: 0;
}

.d-blk {
  display: block;
}

.d-ibl {
  display: inline-block;
}

.d-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-ifx {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.flex-dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.al-i-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.al-i-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.j-c-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-c-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.j-c-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.space-between-groups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.m-0 {
  margin: 0;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-1h {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-h {
  margin-top: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-1h {
  margin-top: 1.5rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-2h {
  margin-top: 2.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-h {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-hh {
  margin-bottom: 0.25rem;
}

.mb-h {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1hh {
  margin-bottom: 1.25rem;
}

.mb-1h {
  margin-bottom: 1.5rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.p-sh {
  padding: 0.25rem;
}

.p-h {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.py-h {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-1h {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-h {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-1h {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-h {
  padding-top: 0.5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-1h {
  padding-top: 1.5rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-hh {
  padding-bottom: 0.25rem;
}

.pb-h {
  padding-bottom: 0.5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-1h {
  padding-bottom: 1.5rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-2h {
  padding-bottom: 2.5rem;
}

.show-smallup {
  display: none;
}

@media only screen and (min-width: 576px) {
  .show-smallup {
    display: block;
  }
}

.show-mediumup {
  display: none;
}

@media only screen and (min-width: 768px) {
  .show-mediumup {
    display: block;
  }
}

.hide-smallup {
  display: block;
}

@media only screen and (min-width: 576px) {
  .hide-smallup {
    display: none;
  }
}

.hide-mediumup {
  display: block;
}

@media only screen and (min-width: 768px) {
  .hide-mediumup {
    display: none;
  }
}

.show-largeup {
  display: none;
}

@media only screen and (min-width: 992px) {
  .show-largeup {
    display: block;
  }
}

.z-depth-1 {
  z-index: 1;
}

.z-depth-2 {
  z-index: 2;
}

.z-depth-3 {
  z-index: 3;
}

.z-depth-4 {
  z-index: 4;
}

.rad-s {
  border-radius: 10px;
}

.opacity-7 {
  opacity: 0.7;
}

.sr:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  overflow: hidden;
  white-space: nowrap;
}
/*# sourceMappingURL=style.css.map */