.order {
  background-color: picker(secondary, darkest);
  padding: 10% 5%;
  margin-top: 30px;
  border-radius: 10px;
  color: picker(primary, flux-white);
  .referral {
    font-size: 14px;
    a {
      font-weight: fontWeight(bold);
      text-decoration: none;
      color: picker(primary, flux-blue);
    }
  }
  button {
    @include btn(true);
    width: 100%;
  }
}

@include breakpoint(lg) {
  .order {
    padding: 5%;
  }
}
