.product {
  background-color: picker(secondary, darkest);
  @include flex(flex-start, row);
  padding: 10px 20px;
  height: 128px;
  margin-top: 30px;
  border-radius: 10px;
  &__img {
    width: 71px;
    height: 71px;
    overflow: hidden;
    border-radius: 5px;
    margin-right: 20px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__details {
    &-name {
      font-size: 14px;
      font-weight: fontWeight(bold);
      color: picker(primary, flux-white);
      margin-bottom: 12px;
    }
    &-price {
      &__bucks {
        font-size: 15px;
        color: picker(primary, flux-white);
        font-weight: fontWeight(medium);
      }
      &__value {
        color: picker(secondary, dark);
        font-size: 14px;
      }
    }
  }
}
@include breakpoint(lg) {
  .product {
    width: 484px;
    &__details {
      @include flex(space-between, row);
      flex-grow: 1;
    }
  }
}
