.navbar {
  @include flex(space-between, row);
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  // overflow-x: hidden;
  backdrop-filter: blur(50px);
  background-color: rgba(picker(primary, flux-bg-black), $alpha: 0.8);
  border-bottom: 1px solid;
  // padding: 0px 5%;
  z-index: 99;
  border-image: linear-gradient(
      270deg,
      rgba(39, 39, 39, 0.3) 6.88%,
      #272727 47.67%,
      rgba(39, 39, 39, 0.3) 92.95%
    )
    1;

  &__logo {
    font-size: 20px;
    color: picker(primary, flux-white);
    font-weight: fontWeight(bold);
  }
  &__links {
    @include media-breakpoint-down(lg) {
      ul {
        position: absolute;
        list-style: none;
        right: -300px;
        top: 79px;
        height: calc(100vh - 79px);
        width: 300px;
        bottom: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: black;
        z-index: 1000000;
        transition: 0.3s ease-in;
        &.show {
          right: 0;
        }
        li {
          padding: 10px;
          margin-bottom: 10px;
          a {
            font-weight: fontWeight(medium);
            color: picker(primary, flux-white);
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
      &-search {
        display: none
      }
    }
    button {
      @include btn(false);
      box-sizing: border-box;
      height: 38px;
    }
  }
  &__rs {
    @include flex(center, row);
    height: 100%;
    gap: 55px;
  }
}

@include breakpoint(lg) {
  .navbar {
    &__rs {
      display: none;
    }
    &__links {
      @include flex(flex-start, row);
      border-left: 1px solid picker(secondary, darker);
      padding-left: 4%;
      &-search {
        @include flex(flex-start, row);
        .input-field {
          width: 500px;
          .input-con {
            background-color: unset;
            margin: 0;
          }
        }
      }
      ul {
        list-style: none;
        padding: 0;
        @include flex(flex-start, row);
        gap: 36px;
        li {
          a {
            font-weight: fontWeight(medium);
            color: picker(primary, flux-white);
            text-decoration: none;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.4);
}
