.landing {
  color: white;
  margin-top: 130px;
  // @include flex(center, column);
  text-align: center;
  &__copy {
    // padding: 0 5%;
    &-pretext {
      background: picker(primary, flux-blue-red);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 16px;
      font-weight: fontWeight(bold);
      text-transform: uppercase;
      letter-spacing: 0.26em;
    }
    &-herotext {
      font-size: 47px;
      font-weight: fontWeight(bold);
      margin-top: 20px;
      margin-bottom: 33px;
      //   width: 359px;
    }
    &-caption {
      margin-bottom: 55px;
    }
    &-action {
      @include flex(center, row);
      &__buy {
        @include btn(true);
      }
      &__play {
        @include btn(false);
        padding: 20px;
      }
    }
  }
  &__saly13 {
    // width: 100%;
    @include flex(center, row);
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

@include breakpoint(lg) {
  .landing {
    // margin-top: 0;
    // @include flex(center, row);
    text-align: left;
    background-image: url('../../../img/svg/landing.bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    &__saly13 {
      // width: 100%;
      @include flex(center, row);
      // overflow: visible;
      img {
        width: 100%;
      }
    }
    &__copy {
      &-pretext {
        width: 283px;
      }
      &-herotext {
        font-size: 75px;
        line-height: 101.7%;
      }
      &-caption {
        width: 312px;
      }
      &-action {
        @include flex(flex-start, row);
      }
    }
  }
}
